@model Usuario
@{
    ViewData["Title"] = "Confirmar";
}



<h4 class="text-center">Tem certeza que deseja excluir @Model.Nome (@Model.Login) permanentemente?</h4>

<div class="row justify-content-md-center">

<form action="ExcluirUsuario" method="post">
   
    <input type="hidden" name="Id" value="@Model.Id">
   
    <input name="decisao" type="submit" style="width: 90%; margin-bottom: 5px;" class="btn btn-primary" value="EXCLUIR">
    <input name="decisao" type="submit" style="width: 90%;" class="btn btn-primary" value="CANCELAR">
</form>
</div>