@{
    ViewData["Title"] = "Acesso Negado";
}

<h1 class="text-center">Acesso negado!</h1>
<h4 class="text-center">Você precisar ser um Administrador para acessar essa página!</h4>
<a class="text-center" href="/Home/Index">Voltar</a> 